<p-toast position="top-center"></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="back-button-wrapper">
  <p-button
    icon="pi pi-angle-double-left"
    class="p-1 w-7 h-7 text-sm back-btn"
    [style]="{'background-color': 'black', 'color': 'white', 'border': 'none'}"
    (click)="goBack()">
  </p-button>
</div>
<div class="heading">
  <h1>Restaurant</h1>
  <h2>ข้าวสวย</h2>
</div>
<body>
  <section class="reservation-list">
    <p-card *ngFor="let reservation of reservations" class="reservation-card">
      <div class="info-card">
        <p><strong>โต๊ะ:</strong> {{ reservation?.tableIndex ?? 'ไม่มีข้อมูล' }}</p>
        <p><strong>ชื่อ:</strong> {{ reservation?.customerName ?? 'ไม่มีข้อมูล' }}</p>
        <p><strong>เบอร์:</strong> {{ reservation?.phoneNumber ?? 'ไม่มีข้อมูล' }}</p>
        <p><strong>เวลา:</strong> {{ reservation?.timeStart?.slice(0,5) ?? 'ไม่มีข้อมูล' }} - {{ reservation?.timeEnd?.slice(0,5)  ?? 'ไม่มีข้อมูล' }}</p>
      </div>

      <!-- ✅ ปุ่ม -->
      <div class="button-group" >
        <p-button 
          label="ยกเลิกการจอง" 
          styleClass="cancel" 
          (click)="cancelReservation(reservation?.id)"
          [style]="{'background-color': 'black', 'border': 'none', 'width' : '250px'}">
        </p-button>
      </div>
    </p-card>
  </section>

</body>

