.dashboard-container {
  padding: 1rem;
  display: flex;
  justify-content: center;

  .chart-card {
    background: #fff;
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    min-height: 70vh; // ✅ เพิ่มความสูงขั้นต่ำตาม viewport
    box-sizing: border-box;
    margin-top: 4rem;
  }
}


.dashboard-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: #444;
}

.back-button-wrapper {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
}

.back-btn {
  background-color: black !important;
  color: white !important;
  border: none !important;
  width: 1.8rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
}

