<div class="back-button-wrapper">
  <p-button
    icon="pi pi-angle-double-left"
    class="p-1 w-7 h-7 text-sm back-btn"
    [style]="{'background-color': 'black', 'color': 'white', 'border': 'none'}"
    (click)="goBack()">
  </p-button>
</div>
<div class="dashboard-container">
  <p-card header="แดชบอร์ดยอดขาย" class="chart-card">
    <p class="chart-subtitle">รายงานยอดขายอาหารรายวัน (เฉพาะรายการที่ชำระแล้ว)</p>
    <p-chart
      type="line"
      [data]="data"
      [options]="options"
      class="h-[38rem] w-full"
    />
  </p-card>
</div>
