<div class="background">
  <div class="card">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <p-toast />
    <p-steps
    [model]="items"
    [readonly]="true"
    [activeIndex]="activeIndex"
    (activeIndexChange)="onActiveIndexChange($event)"
    content=""
    [ngClass]="customClass"
    />
  </div>
</div>
<div class="payment-container">
  <h2 class="title">เลือกวิธีการชำระเงิน</h2>

  <div class="payment-card">
    <h3>โต๊ะ {{ tableNumber }}</h3>

    <!-- เลือกวิธีการชำระเงิน -->
    <div class="payment-methods">
      <label>
        <input type="radio" name="payment" [(ngModel)]="selectedPayment" value="cash">
        ชำระเงินสด
      </label>

      <label>
        <input type="radio" name="payment" [(ngModel)]="selectedPayment" value="qr">
        ชำระ QR Code
      </label>
    </div>

    <!-- แสดง QR Code เมื่อเลือก "ชำระ QR Code" -->
    <div *ngIf="selectedPayment === 'qr'" class="qr-section">
      <h3>Cost: <span class="cost">{{ totalCost }} ฿</span></h3>
      <img src="{{ qrCodeUrl }}" alt="QR Code" class="qr-code">
    </div>

    <!-- ปุ่มยืนยัน -->
    <button class="btn confirm-btn" (click)="confirmPayment()">ยืนยันชำระเงิน</button>
  </div>
</div>
