<div class="relative flex1 flex-col items-center justify-center min-h-screen bg-orange-500">
  
  <!-- Header at the top -->
  <header class="header bg-black p-4 w-full fixed top-0 left-0 z-10">
    <!-- Empty header without text -->
  </header>

  <!-- Content section (logo and login button) -->
  <div class="flex1 flex-col items-center justify-center mt-32">
    <img src="https://lh3.googleusercontent.com/d/1h8qLiCqY5WebsDwAxS9fHqifQgA-nxQM=w500" 
     alt="Logo" 
     class="custom-logo">
    <h1 class="text-white text-lg mb-4">Welcome to Service Store</h1>

    <!-- ปุ่ม login ตรงกลาง -->
    <div class="flex1 justify-center">
      
        <button (click)="loginbotton()" class="custom-login">Login</button>
      
    </div>
  </div>

</div>
