<nav class="header p-4 w-full fixed top-0 left-0 z-10 flex justify-between items-center">
  <!-- 🔹 ปุ่มโลโก้ -->
  <button class="logo-button" (click)="toggleMenu()">
      <img src="https://res.cloudinary.com/dybo3empi/image/upload/v1743093978/S_1-Photoroom_t50yex.png"
           alt="Logo"
           class="logo">
  </button>
</nav>

<div *ngIf="userRole" class="dropdown-menu">
    <nav class="header p-4 w-full fixed top-0 left-0 z-10 flex justify-between items-center">
        <!-- 🔹 ปุ่มย้อนกลับ -->
        <!--<p-button
        icon="pi pi-angle-double-left"
        class="p-button-rounded p-button-text p-button-white"
        [style]="{'background-color': 'black', 'color': 'white', 'border': 'none'}"
        (click)="goBack()">
    </p-button> -->

        <!-- 🔹 ปุ่มโลโก้ -->
        <button class="logo-button" (click)="toggleMenu()">
            <img src="https://res.cloudinary.com/dybo3empi/image/upload/v1743093978/S_1-Photoroom_t50yex.png"
                 alt="Logo"
                 class="logo">
        </button>
    </nav>


    <div *ngIf="isMenuOpen" class="dropdown-menu">
      <ul>
        <!-- เพิ่มและแก้ไข -->
        <li *ngIf="userRole === 'ROLE_ADMIN'" (click)="toggleSubMenu()" class="has-submenu">
          <a href="javascript:void(0)">
            <span class="menu-left">
              <i class="pi pi-cog"></i> <!-- เปลี่ยนเป็น icon ฟันเฟือง -->
              <span class="menu-text">เพิ่มและแก้ไข</span>
            </span>
            <i class="pi pi-chevron-right submenu-arrow"></i>
          </a>
          <ul class="submenu" *ngIf="isSubMenuOpen">
            <li><a href="/addmenu"><i class="pi pi-plus"></i> เพิ่มเมนู</a></li>
            <li><a href="/admin/addtable"><i class="pi pi-plus"></i> เพิ่มโต๊ะ</a></li>
            <li><a href="/admin/table"><i class="pi pi-pencil"></i> แก้ไขโต๊ะ</a></li>
          </ul>
        </li>

        <!-- สั่งอาหาร -->
        <li><a href="/table/all"><i class="pi pi-shopping-cart"></i> สั่งอาหาร</a></li>

        <!-- Dashboard -->
        <li *ngIf="userRole === 'ROLE_ADMIN'">
          <a href="/dashboard"><i class="pi pi-chart-bar"></i> Dashboard</a>
        </li>

        <!-- ตรวจสอบการชำระเงิน -->
        <li *ngIf="userRole === 'ROLE_ADMIN' || userRole === 'ROLE_EMPLOYEE'">
          <a href="/confirmpayment"><i class="pi pi-credit-card"></i> ตรวจสอบการชำระเงิน</a>
        </li>

        <!-- จัดการการจองโต๊ะ -->
        <li *ngIf="userRole === 'ROLE_ADMIN'">
          <a href="/reservations"><i class="pi pi-calendar"></i> จัดการการจองโต๊ะ</a>
        </li>

        <!-- สร้าง QR Code -->
        <li *ngIf="userRole === 'ROLE_ADMIN'">
          <a href="/admin/qr"><i class="pi pi-qrcode"></i> สร้าง QR Code</a>
        </li>

        <!-- ออกจากระบบ -->
        <li (click)="logout()">
          <i class="pi pi-sign-out"></i> ออกจากระบบ
        </li>
      </ul>
    </div>
</div>
