<header class="header">
  <i class="pi pi-angle-double-left icon-left"></i>
  <img src="logo.png" alt="Logo" class="logo">
</header>
<div class="qr-container">
  <div class="qr-box">
    <!-- ✅ QR Code -->
    <qrcode 
      *ngIf="qrCodeData" 
      [qrdata]="qrCodeData"   
      [width]="200" 
      [errorCorrectionLevel]="'M'">
    </qrcode>


    <!-- ✅ ปุ่มควบคุม -->
    <div class="btn-group">
      <button class="btn generate-btn" (click)="generateQRCode()">สร้าง QR Code</button>
      <button class="btn confirm-btn">ยืนยัน</button>
    </div>
  </div>
</div>
