<div class="back-button-wrapper">
  <p-button
    icon="pi pi-angle-double-left"
    class="p-1 w-7 h-7 text-sm back-btn"
    [style]="{'background-color': 'black', 'color': 'white', 'border': 'none'}"
    (click)="goBack()">
  </p-button>
</div>
<div class="qr-container">
  <div class="qr-box">
    <!-- ✅ QR Code -->
    <qrcode 
      *ngIf="qrCodeData" 
      [qrdata]="qrCodeData"   
      [width]="200" 
      [errorCorrectionLevel]="'M'">
    </qrcode>


    <!-- ✅ ปุ่มควบคุม -->
    <div class="btn-group">
      <button class="btn generate-btn" (click)="generateQRCode()">สร้าง QR Code</button>
    </div>
  </div>
</div>
