<div class="background">
  <div class="back-button-wrapper">
    <p-button
      icon="pi pi-angle-double-left"
      class="p-1 w-7 h-7 text-sm back-btn"
      [style]="{'background-color': 'black', 'color': 'white', 'border': 'none'}"
      (click)="goBack()">
    </p-button>
  </div>
  <div class="card">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <p-toast />
    <p-steps
    [model]="items"
    [readonly]="true"
    [activeIndex]="activeIndex"
    (activeIndexChange)="onActiveIndexChange($event)"
    content=""
    [ngClass]="{
      'custom-steps': true,
      'mobile-steps': isMobile
    }"
    />
  </div>
</div>
<div class="bill-container">
  <div class="bill-card">
    <h2 class="bill-title">เช็คบิล</h2>

    <div class="table-info">
      <h3>โต๊ะ {{ tableNumber }}</h3>
    </div>

    <div class="bill-items">
      <h3>อาหาร</h3>
      <div *ngFor="let menu of fontList" class="bill-item">
        <span>{{ menu.menuName }}</span>
        <span class="price">{{ menu.price * menu.quantity }} ฿</span>
      </div>

    <div class="total-cost">
      <strong>รวมทั้งหมด:</strong>
      <span class="price">{{ totalCost }} ฿</span>
    </div>
    <button class="btn pay-btn" (click)="butTonnext()">ชำระเงิน</button>
</div>
